h1{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 0.2em;
}

.main-container {
    display: flex;
    align-items: center;
    margin: 50px;
    flex-direction: column;
}

.current-wave-height    {
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
}

form{
    display:flex;
    align-items:center;
    padding: 50px;
}

select  {
    margin-left: 20px;
    margin-right: 20px;
}