<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Wave Forecast</title>
  <link href="{{ url_for('static', path='/styles/styles.css') }}" rel="stylesheet" />
</head>

<body>

  <div id="main-container">

    <div class="forecast_header">

      <p class="wave_and_weather_title">Surf Forecast</p>

      <p class="title_form_text">{{ selected_location }}</p>

      {% include 'list_form.html' %}
    </div>

    <div class="individual_data_fields">
      <div class="wave_height_layout">
        <p class="current_wave_height_text" id="current_wave_height">Current Wave Height: </p>
        <p class="wave_height">{{ current_wave_height }} {{ units }}</p>
      </div>
      <div class="alerts_layout">
        <p class="current_weather_warnings_text">Current Weather warnings: </p>
        <p class="alerts">{{ weather_alerts }}</p>
      </div>
    </div>

    <img src="data:image/png;base64, {{ wave_height_graph }}">


  </div>


</body>

</html>