<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wave Forecast</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

    <div class="main-container">

        <h1>Welcome to Wave Forecast</h1>

        <p>Weather Station Location: {{ location }}</p>

        <form action="/forecast.html" method="post">

            <label for="location">Choose a weather station:</label>

            <select name="location" id="location">
              <!-- Dropdown options will be injected here -->
            </select>

            <br><br>

            <input type="submit" value="Submit">

          </form>

        <p>Current Wave Height: </p>

        <img src="data:image/png;base64, {{ plot_url }}">

    </div>


</body>

</html>
