<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wave Forecast</title>
    <link href="{{ url_for('static', path='/styles/styles.css') }}" rel="stylesheet" />
</head>

<body>

    <div class="main-container">

        <h1>Welcome to Wave Forecast</h1>

        <p>Weather Station Location: {{ location }}</p>

        <form action="/forecast.html" method="post">

            <label for="location">Choose a weather station:</label>

            <select name="location-list" id="location-list">
              {% for loc in locations  %}
                <option>{{ loc }}</option>
              {% endfor %}
            </select>

            <br><br>

            <input type="submit" value="Submit">

          </form>

        <p>Current Wave Height: </p>

        <img src="data:image/png;base64, {{ plot_url }}">

    </div>


</body>

</html>
