<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wave Forecast</title>
</head>

<body>

    <div class="main-container">

        <h1>Welcome to Wave Forecast</h1>

        <form action="/forecast.html" method="post">

            <label for="location">Choose a weather station:</label>

            <select name="location-list" id="location-list">
              {% for loc in locations  %}
                <option>{{ loc }}</option>
              {% endfor %}
            </select>

            <br><br>

            <input type="submit" value="Submit">

          </form>

    </div>

</body>

</html>

