<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wave Forecast</title>
    <link href="{{ url_for('static', path='/styles/styles.css') }}" rel="stylesheet" />
</head>

<body class="landing_page">

    <div id="main-container">

        <h1 class="landing_page_title">Wave & Weather Forecast</h1>

        <form class="location_form" id="location_form" action="/forecast.html" method="post">

            <select name="location-list" id="location_list">
                <option value="" disabled selected>Choose a Location</option>
                {% for loc in locations %}
                <option>{{ loc }}</option>
                {% endfor %}
            </select>

            <br><br>

            <input type="submit" id="submit_button" value="Submit">
            <!-- <iframe src="templates/world_map.html" width="650px" height="500px" allow="same-origin"></iframe> -->

        </form>
            <div id="map">
                {{ world_map | safe }}
            </div>

    </div>

    <script>
        function goToForecastPage(locationId) {
            var select = document.getElementById('location_list');
            select.value = locationId;
            document.getElementById('location_form').submit();
        }
    </script>

</body>

</html>