html * {
  font-family: "Inter";
}

body {
  margin: 0;
}

p {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
  margin-top: 3vw;
  width: 40%;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px #d6d6d6;
}

img,
.forecast-header {
  width: 100%;
}

#current-wave-height,
.wave-and-weather-title,
.wave-height,
.data,
.no-alerts {
  font-weight: bold;
}

.landing-page-title {
  font-size: 3.5em;
  font-weight: bold;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.location-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1vw;
}

#current-wave-height {
  margin-top: 50px;
  font-size: 1em;
}

.home-map {
  width: 100%;
  flex: 1;
}

.wave-and-weather-title {
  font-size: 1.5em;
  padding-left: 1em;
  color: black;
  text-decoration: none;
}

.individual-data-fields {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 5%;
}

.wind-layout,
.forecast-layout,
.alerts-layout,
.wave-height-layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.wave-height-layout {
  width: 100%;
}

.alerts-layout {
  padding: 20px;
  box-shadow: 2px 2px 10px #d6d6d6;
  min-width: 30%
}

.wave-height {
  font-size: 9em;
}

.data {
  font-size: 1.5em;
}

.label {
  font-size: 1.3em;
  width: 300px;
}

#location-list  {
  border: 0;
  width: 100%;
}

#location-list:focus {
  outline: none;
  border: none;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 450px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.wave-data-fields,
.wind-data-fields,
.general-weather-data-fields {
  display: flex;
  justify-content: space-between;
}

.wind-data-fields,
.general-weather-data-fields {
  max-width: 50%;
}

.wave-wind-air {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 400px;
}

.progress-container {
  width: 30vw;
  background-color: white;
  overflow: hidden;
  position: relative;
  margin-top: 35vh;
}

.progress-filler {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #36a8ac;
  transition: left 0s linear;
}

.error-message {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.error-details {
  font-size: 1.5em;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}

.loading-forecast-text {
  margin-top: 2vh;
}

.leaflet-popup-content {
  width: 125px;
  font-size: 1.6em !important;
  margin-left: 0.3em;
}

@media (max-width: 800px) {

  .location-form {
    width: 90%;
  }

  .input-wrapper {
    min-width: 100px;
  }

  .error-container {
    margin-left: 3vh;
    margin-right: 3vh;
  }

  .error-details {
    text-align: center;
  }

  .forecast-header {
    flex-direction: column;
  }

  .wave-and-weather-title {
    padding-top: 1em;
  }

  .individual-data-fields {
    flex-direction: column;
    gap: 10vh;
  }

  .wave-wind-air {
    width: 100%;
    justify-content: space-between;
  }

  .wave-data-fields, .wind-data-fields, .general-weather-data-fields {
    flex-direction: column;
  }

  .label, p {
    font-size: 1em;
  }

  .landing-page-title {
    font-size: 2.5em;
  }

  .error-message {
    text-align: center;
    padding: 10px;
  }

  #header {
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    display: flex;
    z-index: 2;
    background-color: white;
  }

  .wave-height {
    font-size: 6em;
  }
}
