<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wave Forecast</title>
    <link href="{{ url_for('static', path='/styles/styles.css') }}" rel="stylesheet" />
</head>


<body class="landing_page">

    <script src="{{ url_for('static', path='/styles/form.js') }}"></script>

    <div id="main-container">

    <div id="header">
        <p class="landing_page_title">Surf Forecast</p>

        {% include 'list_form.html' %}
    </div>
        <div id="map">
            {{ world_map | safe }}
        </div>

    </div>

</body>

</html>