<form class="location_form" id="landing_page_location_form" action="/forecast.html" method="post">
    <input id="location_list" type="text" name="location" list="options" placeholder="Search or select a location">
    <datalist id="options">
        {% for loc_id, loc in locations.items() %}
          <option value="{{ loc.name }}" data-locid="{{ loc_id }}">{{ loc.name }}</option>
        {% endfor %}
    </datalist>
    <br><br>
    <input id="submit_button" type="submit" value="Submit">
</form>